
.CatagoryCard__container{
    padding: 5px;
    padding-top: 10px;
    height: 300px;
    width: 300px; 
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .CatagoryCard__container a {
    display: block;
    object-fit: fill;
    text-decoration: none;
    color: rgb(35, 35, 35);
  }
  .CatagoryCard__container img {
    width: 100%;
    object-fit: contain;
    max-height: 200px;
    margin: 10px auto;
  }
  .CatagoryCard__container h2,
  .CatagoryCard__container p {
    padding:3px 25px;
  }
  
  .category h2{
    font-size: 1.2rem;
  }
  .category p {
    font-size: 12px;
    font-weight: bold;
    color: rgb(9, 132, 209);
  }
.Catagory__container{
    position: relative;
    max-width: 1400px;
    padding: 30px;
    margin: -20% auto auto auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    display: grid;
    gap: 20px;
    place-items: center;
}