.category__container{
  position: relative;
  max-width: 1400px;
  padding: 30px;
  margin: -20% auto auto auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  display: grid;
  gap: 20px;
  place-items: center;
}

/* ==============================================category__container carde css=============================== */
.categoryCard__container{
    padding: 5px;
    padding-top: 10px;
    height: 300px;
    width: 300px; 
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .categoryCard__container a {
    display: block;
    object-fit: fill;
    text-decoration: none;
    color: rgb(35, 35, 35);
  }
  .categoryCard__container img {
    width: 100%;
    object-fit: contain;
    max-height: 200px;
    margin: 10px auto;
  }
  .categoryCard__container h2,
  .categoryCard__container p {
    padding:3px 2px;
  }
  
  .categoryCard__container h2{
    font-size: 1.2rem;
  }
  .categoryCard__container p {
    font-size: 12px;
    font-weight: bold;
    color: rgb(9, 132, 209);
  }
