.continar__404page{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.continar__404page > h2:first-child{
    margin-bottom: 10px;
}